body, html {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #0C0C0E;
}
.conteiner-for-memes{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 1em;
}
.galery-for-memes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-of-meme-conteiner{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container-for-radio-button{
  display: flex;
  flex-direction: row;
}
.visual-button{
  border-radius: 48%;
  width: 0.9em;
  height: 0.9em;
  cursor: pointer;
  transition-duration: .2s;
  background-color: skyblue;
  box-sizing: border-box;
}
input {
  position: static;  
  opacity: 0;
  cursor: pointer;
  display: none;
}
label {
  display: flex;
  width: 1.8em;
  height: 1.8em;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;  
}
/*  наведение на кнопки*/
label:hover >.visual-button{
  background-color: white;
}
input:checked + label:hover >.visual-button{
  border: solid 2px white;
  background-color: #0C0C0E;
}
input:checked + label >.visual-button{
  border: solid 2px skyblue;
  background-color: #0C0C0E;
}

.slide {
  position: static;
  width: 30em;
  margin: auto;
/*  transform: translateX(-100%);*/
  transition-duration: .4s;
  opacity: 1;
}
/*
input:checked ~ .slide {
  transform: translateX(100%);
}

input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}*/
.conteiner-for-memes, .galery-for-memes ul {
  display: flex;
  align-items: center;
  justify-content: center;  
  overflow: hidden;
}
/*.galery-for-memes {
  overflow: hidden;
  border-radius: 5px;
}*/
.galery-for-memes ul {
  position: sticky;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.galery-for-memes li img {
  border-radius: 15px;
}